$screen-md: 920px;
$screen-sm: 768px;

$dark-blue : rgba(0, 112, 155, 0.9) ;

$header-xs : 		100px;
$header-xs-small : 	70px;
$header-md : 		125px;
$header-md-small : 	90px;
$header-lg : 		150px;
$header-lg-small : 	100px;